#hero {
  @apply flex flex-col items-center bg-gray-950 text-white;

  .slides {
    @apply h-[90vh] w-screen items-center justify-center bg-gray-800 px-5 md:h-[65vh] lg:aspect-[2.2/1] lg:h-auto;

    .content {
      @apply flex flex-col items-center justify-center text-white;
      z-index: 1;

      .title {
        @apply mb-[0.4em];
        font-size: clamp(1rem, 6vh, 6rem);
      }

      .subtitle {
        @apply mb-[2em];
        font-size: clamp(0.5rem, 3vh, 1.5rem);
      }

      .label {
        @apply mb-[0.5em];
        font-size: clamp(0.3rem, 2vh, 1rem);
      }
    }
    &::after {
      content: "";
      @apply absolute inset-0 bg-black opacity-60;
    }
  }

  #slide1 {
    background: url(../../assets/slide1bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }
  #slide2 {
    background: url(../../assets/slide2bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }
  #slide3 {
    background: url(../../assets/slide3bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }

  .embla__dots {
    @apply flex gap-2;
    .embla__dot {
      @apply h-2 w-2 rounded-full bg-white/30;
      &--selected {
        @apply h-2 w-2 rounded-full bg-white;
      }
    }
  }

  .time-box:not(:last-child) {
    .time {
      @apply border-r border-white;
    }
  }
}
