#hero {
  @apply flex flex-col items-center bg-gray-950 text-white;

  .slides {
    @apply h-full w-screen items-center justify-center bg-gray-800 px-5 lg:aspect-[2.2/1] lg:h-auto;

    .content {
      @apply flex flex-col items-center justify-center text-white;
      z-index: 1;
    }
    &::after {
      content: "";
      @apply absolute inset-0 bg-black opacity-60;
    }
  }

  #slide1 {
    background: url(../../assets/slide1bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }
  #slide2 {
    background: url(../../assets/slide2bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }
  #slide3 {
    background: url(../../assets/slide3bg.jpg) lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    // add background overlay
  }

  .embla__dots {
    @apply flex gap-2;
    button {
      @apply h-2 w-2 rounded-full bg-white;
    }
    button:last-child,
    button:first-child {
      @apply bg-transparent;
    }
    button:is-selected {
      @apply border-2 border-black;
    }
  }
}
