@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bodoni Moda", serif;
  line-height: 1.1 !important;
  text-wrap: balance;
}

p {
  line-height: 1.5;
}

p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}

[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  /* height: 12px; Height of the scrollbar */
}
/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #000000e5;

  border-radius: 10px;
}
/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Open Sans", sans-serif;
  height: fit-content;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* hide scrollbar  */
  /* -ms-overflow-style: none; /* IE and Edge */
  /* &::-webkit-scrollbar {
    display: none; Chrome, Safari and Opera
  } */
}

main {
  height: fit-content;
}
main.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.5rem;
}
.invisible {
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
