@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bodoni Moda", serif;
  line-height: 1.1 !important;
  text-wrap: balance;
}

p {
  line-height: 1.5;
}

p,
li {
  text-wrap: pretty;
  max-width: 65ch;
}

[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  /* height: 12px; Height of the scrollbar */
}
/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #000000e5;

  border-radius: 10px;
}
/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Open Sans", sans-serif;
  height: fit-content;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* hide scrollbar  */
  /* -ms-overflow-style: none; /* IE and Edge */
  /* &::-webkit-scrollbar {
    display: none; Chrome, Safari and Opera
  } */
}

main {
  height: fit-content;
}
